<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE beans PUBLIC "-//SPRING//DTD BEAN//EN"
    "http://www.springframework.org/dtd/spring-beans.dtd">

<beans>
    <bean id="greetingService" class="example.GreetingServiceImpl">
        <property name="greeting" >
            <value>Hello</value>
        </property>
    </bean>
</beans>
