<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
           http://www.springframework.org/schema/security
           http://www.springframework.org/schema/security/spring-security-3.0.xsd">

	<global-method-security secured-annotations="enabled" />

	<http auto-config="true">
	<!--	<intercept-url pattern="/**" filters="none" /> -->


			<intercept-url pattern="/login2.jsp*" filters="none" />
			<intercept-url pattern="/logoutSuccess.jsp" filters="none" />
            <intercept-url pattern="/extjs/**" filters="none" />
			<intercept-url pattern="/**" access="ROLE_OPERATOR, ROLE_ADMIN" />
			<form-login	login-page="/login2.jsp" default-target-url="/index.jsp"
			authentication-failure-url="/login2.jsp?login_error=1" />
			<logout	invalidate-session="true" logout-url="/logout"
			logout-success-url="/login2.jsp" />
			<!--<session-management	invalid-session-url="/login.jsp">-->
				<!--<concurrency-control max-sessions="1" error-if-maximum-exceeded="true" />-->
    		<!--</session-management>-->

	</http>


	<authentication-manager>
		<authentication-provider>
			<user-service>
				<user name="bob" password="123" authorities="ROLE_OPERATOR" />
				<user name="dod" password="123" authorities="ROLE_ADMIN" />
			</user-service>
		</authentication-provider>
	</authentication-manager>



</beans:beans>
