@import "../dojo/dojo/resources/dojo.css";
@import "../dojo/dijit/tests/css/dijitTests.css";
@import "../dojo/dojo/resources/dojo.css";
@import "../dojo/dojo/resources/dnd.css";
@import "../dojo/dojo/tests/dnd/dndDefault.css";
@import "../css/dijitTests.css";
@import "../css/FileInput.css";
@import "../dojo/dojox/layout/resources/ExpandoPane.css";
#Wfont {
    padding:0px;
    font-family: Verdana, Calibri, Arial, sans-serif;
    font-size:20px;
    color:#000;
}
#infoDiv {
    font-family: Verdana, Calibri, Arial, sans-serif;
    font-size:10px;
    border-width:thin;
    margin:3px;
    padding:2px;
    border:1px dotted #999;
    background: #f9f9f9;
}
#TableSuppl {
    width:100%;
}
/*
td{
    border-left:dotted thin;
    border-right:dotted thin;
    margin:0px;
    padding:0px;
}*/