<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="Tools4All" version="2.5" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
    <display-name>Tools4All</display-name>
    <description>Tools4All...</description>
    <listener>
        <listener-class>org.directwebremoting.servlet.DwrListener</listener-class>
    </listener>
    <servlet>
        <servlet-name>dwr-invoker</servlet-name>
        <display-name>DWR Servlet</display-name>
        <description>Direct Web Remoter Servlet</description>
        <servlet-class>org.directwebremoting.servlet.DwrServlet</servlet-class>
        <init-param>
            <param-name>debug</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>activeReverseAjaxEnabled</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>initApplicationScopeCreatorsAtStartup</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>jsonRpcEnabled</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>jsonpEnabled</param-name>
            <param-value>true</param-value>
        </init-param>
        <init-param>
            <param-name>preferDataUrlSchema</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>maxWaitAfterWrite</param-name>
            <param-value>-1</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet>
        <servlet-name>FeXport</servlet-name>
        <servlet-class>fe.FeXport</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductType</servlet-name>
        <servlet-class>servlets.ProductType</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ValueUsers</servlet-name>
        <servlet-class>servlets.ValueUsers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Attribute</servlet-name>
        <servlet-class>servlets.Attribute</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Language</servlet-name>
        <servlet-class>servlets.Language</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AttributeAltName</servlet-name>
        <servlet-class>servlets.AttributeAltName</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GrabliData</servlet-name>
        <servlet-class>servlets.GrabliData</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GrabliCsvColumnData</servlet-name>
        <servlet-class>servlets.GrabliCsvColumnData</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>dwr-invoker</servlet-name>
        <url-pattern>/dwr/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductType</servlet-name>
        <url-pattern>/ProductType.exml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ValueUsers</servlet-name>
        <url-pattern>/ValueUsers.exml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Attribute</servlet-name>
        <url-pattern>/Attribute.exml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Language</servlet-name>
        <url-pattern>/Language.exml</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AttributeAltName</servlet-name>
        <url-pattern>/AttributeAltName</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GrabliData</servlet-name>
        <url-pattern>/GrabliData</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GrabliCsvColumnData</servlet-name>
        <url-pattern>/GrabliCsvColumnData</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>tools4value.jsp</welcome-file>
    </welcome-file-list>
</web-app>
