.x-portal .x-panel-dd-spacer {
	MARGIN-BOTTOM: 10px
}
.x-portlet {
	MARGIN-BOTTOM: 10px
}
.x-portlet .x-panel-ml {
	PADDING-LEFT: 2px
}
.x-portlet .x-panel-mr {
	PADDING-RIGHT: 2px
}
.x-portlet .x-panel-bl {
	PADDING-LEFT: 2px
}
.x-portlet .x-panel-br {
	PADDING-RIGHT: 2px
}
.x-portlet .x-panel-body {
	BACKGROUND: white
}
.x-portlet .x-panel-mc {
	PADDING-TOP: 2px
}
.x-portlet .x-panel-bc .x-panel-footer {
	PADDING-BOTTOM: 2px
}
.x-portlet .x-panel-nofooter .x-panel-bc {
	HEIGHT: 2px
}
