@import "dojo/dojo/resources/dojo.css";
@import "dojo/dijit/tests/css/dijitTests.css";
@import "dojo/dojo/resources/dojo.css";
@import "dojo/dojo/resources/dnd.css";
@import "dojo/dojo/tests/dnd/dndDefault.css";
@import "css/dijitTests.css";
@import "dojo/dojox/layout/resources/ExpandoPane.css";
#Wfont {
    padding:0px;
    font-family: Verdana, Calibri, Arial, sans-serif;
    font-size:20px;
    color:#000;
}