<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:7777/u196802</property>
        <property name="hibernate.connection.username">u196802</property>
        <property name="hibernate.connection.password">cornicenti2l</property>
        <property name="hibernate.current_session_context_class">thread</property>
        <mapping resource="Pojo/PcProcessStatus.hbm.xml"/>
        <mapping resource="Pojo/PcSyncProducts.hbm.xml"/>
        <mapping resource="Pojo/PcSyncProductsToCategories.hbm.xml"/>
        <mapping resource="Pojo/PcSyncProductsDescription.hbm.xml"/>
        <mapping resource="Pojo/CategoriesArticles.hbm.xml"/>
        <mapping resource="Pojo/CategoriesDescription.hbm.xml"/>
        <mapping resource="Pojo/Categories.hbm.xml"/>
        <mapping resource="Pojo/ProductsToCategories.hbm.xml"/>
        <mapping resource="Pojo/Products.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
