<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
       http://www.springframework.org/schema/util
       http://www.springframework.org/schema/util/spring-util.xsd">

    <context:component-scan base-package="com.sitronics.filenet.classes"/>

    <context:property-placeholder location="classpath:data4Classes.properties"/>

    <util:map id="regions" map-class="java.util.HashMap" value-type="java.lang.String"
              key-type="java.lang.String">
        <entry key="KorpCentrGruppyMTS" value="Корпоративный центр Группы &quot;МТС&quot;, г. Москва"/>
        <entry key="MR_Moskva" value="&quot;Макро-регион &quot;Москва&quot;, г. Москва"/>
        <entry key="BE_ZarubejnyeKompanii" value="&quot;Бизнес-единица &quot;МТС Зарубежные компании&quot;, г. Москва"/>
        <entry key="BE_MTSRossiya" value="&quot;Бизнес-единица &quot;МТС Россия&quot;, г. Москва"/>
        <entry key="MR_Centr" value="&quot;Макро-регион &quot;Центр&quot;, г. Москва"/>
        <entry key="Vladimir" value="Филиал ОАО &quot;МТС&quot; в г. Владимир"/>
        <entry key="Ivanovo" value="Филиал ОАО &quot;МТС&quot; в г. Иваново"/>
        <entry key="Kaluga" value="Филиал ОАО &quot;МТС&quot; в г. Калуга"/>
        <entry key="Kostroma" value="Филиал ОАО &quot;МТС&quot; в г. Кострома"/>
        <entry key="Ryazan" value="Филиал ОАО &quot;МТС&quot; в г. Рязань"/>
        <entry key="Smolensk" value="Филиал ОАО &quot;МТС&quot; в г. Смоленск"/>
        <entry key="Tambov" value="Филиал ОАО &quot;МТС&quot; в г. Тамбов"/>
        <entry key="Tver" value="Филиал ОАО &quot;МТС&quot; в г. Тверь"/>
        <entry key="Tula" value="Филиал ОАО &quot;МТС&quot; в г. Тула"/>
        <entry key="YAroslavl" value="Филиал ОАО &quot;МТС&quot; в г. Ярославль"/>
        <entry key="Orlovskoy_obl" value="Филиал ОАО &quot;МТС&quot; в Орловской области"/>
        <entry key="Bryanskoy_obl" value="Филиал ОАО &quot;МТС&quot; в Брянской области"/>
        <entry key="Voronejskoy_obl" value="Филиал ОАО &quot;МТС&quot; в Воронежской области"/>
        <entry key="Kurskoy_obl" value="Филиал ОАО &quot;МТС&quot; в Курской области"/>
        <entry key="Lipeckoy_obl" value="Филиал ОАО &quot;МТС&quot; в Липецкой области"/>
        <entry key="Belgorodskoy_obl" value="Филиал ОАО &quot;МТС&quot; в Белгородской области"/>
        <entry key="MR_SeveroZapad"
               value="Филиал ОАО &quot;МТС&quot; &quot;Макро-регион &quot;Северо-Запад&quot; (г. Санкт-Петербург)"/>
        <entry key="SanktPeterburg" value="Филиал ОАО &quot;МТС&quot; в г. Санкт-Петербург"/>
        <entry key="Vologodskoy_obl" value="Филиал ОАО &quot;МТС&quot; в Вологодской области"/>
        <entry key="Kaliningradskoy_obl" value="Филиал ОАО &quot;МТС&quot; в Калининградской области"/>
        <entry key="Murmanskoy_obl" value="Филиал ОАО &quot;МТС&quot; в Мурманской области"/>
        <entry key="Novgorodskoy_obl" value="Филиал ОАО &quot;МТС&quot; в Новгородской области (Великий Новгород)"/>
        <entry key="Pskov" value="Филиал ОАО &quot;МТС&quot; в г. Псков"/>
        <entry key="Kareliya_rr" value="Филиал ОАО &quot;МТС&quot; в Республике Карелия (Петрозаводск)"/>
        <entry key="Syktyvkar" value="Филиал ОАО &quot;МТС&quot; в г. Сыктывкар, Республика Коми"/>
        <entry key="Arhangelskoy_obl" value="Филиал ОАО &quot;МТС&quot; в Архангельской области"/>
        <entry key="MR_Povolje"
               value="Филиал ОАО &quot;МТС&quot; &quot;Макро-регион &quot;Поволжье&quot; (г. Нижний Новгород)"/>
        <entry key="Nijniy Novgorod" value="Филиал ОАО &quot;МТС&quot; в г. Нижний Новгород"/>
        <entry key="Kirov" value="Филиал ОАО &quot;МТС&quot; в г. Киров"/>
        <entry key="MariyEl_rr" value="Филиал ОАО &quot;МТС&quot; в Республике Марий Эл (Йошкар-Ола)"/>
        <entry key="Mordoviya_rr" value="Филиал ОАО &quot;МТС&quot; в Республике Мордовия (Саранск)"/>
        <entry key="Tatarstan_rr" value="Филиал ОАО &quot;МТС&quot; в Республике Татарстан"/>
        <entry key="Udmurtskaya_rr" value="Филиал ОАО &quot;МТС&quot; в Удмуртской республике (ИЖЕВСК)"/>
        <entry key="CHuvashskaya_rr" value="Филиал ОАО &quot;МТС&quot; в Чувашской Республике - Чувашии (Чебоксары)"/>
        <entry key="Samara" value="Филиал ОАО &quot;МТС&quot; в г. Самара"/>
        <entry key="Orenburg" value="Филиал ОАО &quot;МТС&quot; в г. Оренбург"/>
        <entry key="Bashkortostan_rr" value="Филиал ОАО &quot;МТС&quot; в Республике Башкортостан"/>
        <entry key="Saratov" value="Филиал ОАО &quot;МТС&quot; в г. Саратов"/>
        <entry key="Ulyanovskoy_obl" value="Филиал ОАО &quot;МТС&quot; в Ульяновской области"/>
        <entry key="MR_YUg" value="Филиал ОАО &quot;МТС&quot; &quot;Макро-регион &quot;Юг&quot;, (Краснодар)"/>
        <entry key="Krasnodarskom_kr" value="Филиал ОАО &quot;МТС&quot; в Краснодарском крае"/>
        <entry key="Volgogradskoy_obl" value="Филиал ОАО &quot;МТС&quot; в Волгоградской области"/>
        <entry key="KabardinoBalkarskaya_rr"
               value="Филиал ОАО &quot;МТС&quot; в Кабардино-Балкарской Республике (Нальчик)"/>
        <entry key="KarachaevoCHerkesskaya_rr"
               value="Филиал ОАО &quot;МТС&quot; в Карачаево-Черкесской Республике (Черкесск)"/>
        <entry key="Astrahanskoy_obl" value="Филиал ОАО &quot;МТС&quot; в Астраханской области"/>
        <entry key="Adygeya_rr" value="Филиал ОАО &quot;МТС&quot; в Республике Адыгея"/>
        <entry key="Dagestan_rr" value="Филиал ОАО &quot;МТС&quot; в Республике Дагестан (Махачкала)"/>
        <entry key="Ingushetiya_rr" value="Филиал ОАО &quot;МТС&quot; в Республике Ингушетия (Магас, Назрань)"/>
        <entry key="Kalmykiya_rr" value="Филиал ОАО &quot;МТС&quot; в Республике Калмыкия (Элиста)"/>
        <entry key="SevernayaOsetiya_Alaniya_rr"
               value="Филиал ОАО &quot;МТС&quot; в Республике Северная Осетия - Алания (Владикавказ)"/>
        <entry key="Rostovskoy_obl" value="Филиал ОАО &quot;МТС&quot; в Ростовской области"/>
        <entry key="Stavropolskom_kr" value="Филиал ОАО &quot;МТС&quot; в Ставропольском крае"/>
        <entry key="CHechenskoy Respublike" value="Филиал ОАО &quot;МТС&quot; в Чеченской Республике"/>
        <entry key="Sochi" value="Филиал ОАО &quot;МТС&quot; в г. Сочи"/>
        <entry key="Novorossiysk" value="Филиал ОАО &quot;МТС&quot; в г. Новороссийск"/>
        <entry key="MR_Ural"
               value="Филиал ОАО &quot;МТС&quot; &quot;Макро-регион &quot;Урал&quot; (Екатеринбург, Свердловская область)"/>
        <entry key="Sverdlovskoy_obl" value="Филиал ОАО &quot;МТС&quot; в Свердловской области"/>
        <entry key="Kurgan" value="Филиал ОАО &quot;МТС&quot; в г. Курган"/>
        <entry key="Tyumenskoy_obl" value="Филиал ОАО &quot;МТС&quot; в Тюменской области"/>
        <entry key="HantyMansiyskom AO" value="Филиал ОАО &quot;МТС&quot; в Ханты-Мансийском АО - Югре (ХМАО, Сургут)"/>
        <entry key="CHelyabinsk" value="Филиал ОАО &quot;МТС&quot; в г. Челябинск"/>
        <entry key="YAmaloNeneckom AO" value="Филиал ОАО &quot;МТС&quot; в Ямало-Ненецком АО (ЯНАО)"/>
        <entry key="Permskom_kr" value="Филиал ОАО &quot;МТС&quot; в Пермском крае"/>
        <entry key="MR_Sibir" value="Филиал ОАО &quot;МТС&quot; &quot;Макро-регион &quot;Сибирь&quot; (Новосибирск)"/>
        <entry key="Novosibirskoy_obl" value="Филиал ОАО &quot;МТС&quot; в Новосибирской области"/>
        <entry key="Krasnoyarskom_kr" value="Филиал ОАО &quot;МТС&quot; в Красноярском крае"/>
        <entry key="Hakasiya_rr" value="Филиал ОАО &quot;МТС&quot; в Республике Хакасия"/>
        <entry key="Altay_rr" value="Филиал ОАО &quot;МТС&quot; в Республике Алтай"/>
        <entry key="Omskoy_obl" value="Филиал ОАО &quot;МТС&quot; в Омской области"/>
        <entry key="Tomskoy_obl" value="Филиал ОАО &quot;МТС&quot; в Томской области"/>
        <entry key="Tyva_rr" value="Филиал ОАО &quot;МТС&quot; в Республике Тыва"/>
        <entry key="Kemerovskoy_obl" value="Филиал ОАО &quot;МТС&quot; в Кемеровской области"/>
        <entry key="Altayskom_kr" value="Филиал ОАО &quot;МТС&quot; в Алтайском крае"/>
        <entry key="MR_Dalniy Vostok"
               value="Филиал ОАО &quot;МТС&quot; &quot;Макро-регион &quot;Дальний Восток&quot; (Владивосток, Приморский Край)"/>
        <entry key="Primorskom_kr" value="Филиал ОАО &quot;МТС&quot; в Приморском крае"/>
        <entry key="Blagoveschensk" value="Филиал ОАО &quot;МТС&quot; в г. Благовещенск (Амурская область)"/>
        <entry key="Kamchatskom_kr" value="Филиал ОАО &quot;МТС&quot; в Камчатском крае"/>
        <entry key="Magadanskoy_obl" value="Филиал ОАО &quot;МТС&quot; в Магаданской области"/>
        <entry key="Saha_rr" value="Филиал ОАО &quot;МТС&quot; в Республике Саха (Якутия)"/>
        <entry key="Sahalinskoy_obl" value="Филиал ОАО &quot;МТС&quot; в Сахалинской области"/>
        <entry key="Habarovskom_kr" value="Филиал ОАО &quot;МТС&quot; в Хабаровском крае"/>
        <entry key="Irkutskoy_obl" value="Филиал ОАО &quot;МТС&quot; в Иркутской области"/>
        <entry key="Buryatiya_rr" value="Филиал ОАО &quot;МТС&quot; в Республике Бурятия (Улан-Удэ)"/>
        <entry key="Zabaykalskom_kr" value="Филиал ОАО &quot;МТС&quot; в Забайкальском крае (Чита)"/>
        <!--<entry key="Folder" value="Folder"/>-->
    </util:map>

    <util:map id="domainGroup" map-class="java.util.HashMap" value-type="java.lang.String"
              key-type="java.lang.String">
        <entry key="KorpCentrGruppyMTS" value="S-1-5-21-685724207-866877060-2473498247-55389"/>
        <entry key="MR_Moskva" value="S-1-5-21-685724207-866877060-2473498247-55390"/>
        <entry key="BE_ZarubejnyeKompanii"
               value="S-1-5-21-685724207-866877060-2473498247-55391"/>
        <entry key="BE_MTSRossiya" value="S-1-5-21-685724207-866877060-2473498247-55392"/>
        <entry key="Vladimir" value="S-1-5-21-685724207-866877060-2473498247-55393"/>
        <entry key="Ivanovo" value="S-1-5-21-685724207-866877060-2473498247-55394"/>
        <entry key="Kaluga" value="S-1-5-21-685724207-866877060-2473498247-55395"/>
        <entry key="Kostroma" value="S-1-5-21-685724207-866877060-2473498247-55396"/>
        <entry key="Ryazan" value="S-1-5-21-685724207-866877060-2473498247-55397"/>
        <entry key="Smolensk" value="S-1-5-21-685724207-866877060-2473498247-55398"/>
        <entry key="Tambov" value="S-1-5-21-685724207-866877060-2473498247-55399"/>
        <entry key="Tver" value="S-1-5-21-685724207-866877060-2473498247-55400"/>
        <entry key="Tula" value="S-1-5-21-685724207-866877060-2473498247-55401"/>
        <entry key="YAroslavl" value="S-1-5-21-685724207-866877060-2473498247-55402"/>
        <entry key="Orlovskoy_obl" value="S-1-5-21-685724207-866877060-2473498247-55403"/>
        <entry key="Bryanskoy_obl" value="S-1-5-21-685724207-866877060-2473498247-55404"/>
        <entry key="Voronejskoy_obl" value="S-1-5-21-685724207-866877060-2473498247-55405"/>
        <entry key="Kurskoy_obl" value="S-1-5-21-685724207-866877060-2473498247-55406"/>
        <entry key="Lipeckoy_obl" value="S-1-5-21-685724207-866877060-2473498247-55407"/>
        <entry key="Belgorodskoy_obl" value="S-1-5-21-685724207-866877060-2473498247-55408"/>
        <entry key="SanktPeterburg" value="S-1-5-21-685724207-866877060-2473498247-55409"/>
        <entry key="Vologodskoy_obl" value="S-1-5-21-685724207-866877060-2473498247-55410"/>
        <entry key="Kaliningradskoy_obl" value="S-1-5-21-685724207-866877060-2473498247-55411"/>
        <entry key="Murmanskoy_obl" value="S-1-5-21-685724207-866877060-2473498247-55412"/>
        <entry key="Novgorodskoy_obl" value="S-1-5-21-685724207-866877060-2473498247-55413"/>
        <entry key="Pskov" value="S-1-5-21-685724207-866877060-2473498247-55414"/>
        <entry key="Kareliya_rr" value="S-1-5-21-685724207-866877060-2473498247-55415"/>
        <entry key="Syktyvkar" value="S-1-5-21-685724207-866877060-2473498247-55416"/>
        <entry key="Arhangelskoy_obl" value="S-1-5-21-685724207-866877060-2473498247-55417"/>
        <entry key="Nijniy Novgorod" value="S-1-5-21-685724207-866877060-2473498247-55418"/>
        <entry key="Kirov" value="S-1-5-21-685724207-866877060-2473498247-55419"/>
        <entry key="MariyEl_rr" value="S-1-5-21-685724207-866877060-2473498247-55420"/>
        <entry key="Mordoviya_rr" value="S-1-5-21-685724207-866877060-2473498247-55421"/>
        <entry key="Tatarstan_rr" value="S-1-5-21-685724207-866877060-2473498247-55422"/>
        <entry key="Udmurtskaya_rr" value="S-1-5-21-685724207-866877060-2473498247-55423"/>
        <entry key="CHuvashskaya_rr" value="S-1-5-21-685724207-866877060-2473498247-55424"/>
        <entry key="Samara" value="S-1-5-21-685724207-866877060-2473498247-55425"/>
        <entry key="Orenburg" value="S-1-5-21-685724207-866877060-2473498247-55426"/>
        <entry key="Bashkortostan_rr" value="S-1-5-21-685724207-866877060-2473498247-55427"/>
        <entry key="Saratov" value="S-1-5-21-685724207-866877060-2473498247-55428"/>
        <entry key="Ulyanovskoy_obl" value="S-1-5-21-685724207-866877060-2473498247-55429"/>
        <entry key="Krasnodarskom_kr" value="S-1-5-21-685724207-866877060-2473498247-55430"/>
        <entry key="Volgogradskoy_obl" value="S-1-5-21-685724207-866877060-2473498247-55431"/>
        <entry key="KabardinoBalkarskaya_rr"
               value="S-1-5-21-685724207-866877060-2473498247-55432"/>
        <entry key="KarachaevoCHerkesskaya_rr"
               value="S-1-5-21-685724207-866877060-2473498247-55433"/>
        <entry key="Astrahanskoy_obl" value="S-1-5-21-685724207-866877060-2473498247-55434"/>
        <entry key="Adygeya_rr" value="S-1-5-21-685724207-866877060-2473498247-55435"/>
        <entry key="Dagestan_rr" value="S-1-5-21-685724207-866877060-2473498247-55436"/>
        <entry key="Ingushetiya_rr" value="S-1-5-21-685724207-866877060-2473498247-55437"/>
        <entry key="Kalmykiya_rr" value="S-1-5-21-685724207-866877060-2473498247-55438"/>
        <entry key="SevernayaOsetiya_Alaniya_rr"
               value="S-1-5-21-685724207-866877060-2473498247-55439"/>
        <entry key="Rostovskoy_obl" value="S-1-5-21-685724207-866877060-2473498247-55440"/>
        <entry key="Stavropolskom_kr" value="S-1-5-21-685724207-866877060-2473498247-55441"/>
        <entry key="CHechenskoy Respublike"
               value="S-1-5-21-685724207-866877060-2473498247-55442"/>
        <entry key="Sochi" value="S-1-5-21-685724207-866877060-2473498247-55443"/>
        <entry key="Novorossiysk" value="S-1-5-21-685724207-866877060-2473498247-55444"/>
        <entry key="Sverdlovskoy_obl" value="S-1-5-21-685724207-866877060-2473498247-55445"/>
        <entry key="Kurgan" value="S-1-5-21-685724207-866877060-2473498247-55446"/>
        <entry key="Tyumenskoy_obl" value="S-1-5-21-685724207-866877060-2473498247-55447"/>
        <entry key="HantyMansiyskom AO" value="S-1-5-21-685724207-866877060-2473498247-55448"/>
        <entry key="CHelyabinsk" value="S-1-5-21-685724207-866877060-2473498247-55449"/>
        <entry key="YAmaloNeneckom AO" value="S-1-5-21-685724207-866877060-2473498247-55450"/>
        <entry key="Permskom_kr" value="S-1-5-21-685724207-866877060-2473498247-55451"/>
        <entry key="Novosibirskoy_obl" value="S-1-5-21-685724207-866877060-2473498247-55452"/>
        <entry key="Krasnoyarskom_kr" value="S-1-5-21-685724207-866877060-2473498247-55453"/>
        <entry key="Hakasiya_rr" value="S-1-5-21-685724207-866877060-2473498247-55454"/>
        <entry key="Altay_rr" value="S-1-5-21-685724207-866877060-2473498247-55455"/>
        <entry key="Omskoy_obl" value="S-1-5-21-685724207-866877060-2473498247-55456"/>
        <entry key="Tomskoy_obl" value="S-1-5-21-685724207-866877060-2473498247-55457"/>
        <entry key="Tyva_rr" value="S-1-5-21-685724207-866877060-2473498247-55458"/>
        <entry key="Kemerovskoy_obl" value="S-1-5-21-685724207-866877060-2473498247-55459"/>
        <entry key="Altayskom_kr" value="S-1-5-21-685724207-866877060-2473498247-55460"/>
        <entry key="Primorskom_kr" value="S-1-5-21-685724207-866877060-2473498247-55461"/>
        <entry key="Blagoveschensk" value="S-1-5-21-685724207-866877060-2473498247-55462"/>
        <entry key="Kamchatskom_kr" value="S-1-5-21-685724207-866877060-2473498247-55463"/>
        <entry key="Magadanskoy_obl" value="S-1-5-21-685724207-866877060-2473498247-55464"/>
        <entry key="Saha_rr" value="S-1-5-21-685724207-866877060-2473498247-55465"/>
        <entry key="Sahalinskoy_obl" value="S-1-5-21-685724207-866877060-2473498247-55466"/>
        <entry key="Habarovskom_kr" value="S-1-5-21-685724207-866877060-2473498247-55467"/>
        <entry key="Irkutskoy_obl" value="S-1-5-21-685724207-866877060-2473498247-55468"/>
        <entry key="Buryatiya_rr" value="S-1-5-21-685724207-866877060-2473498247-55469"/>
        <entry key="Zabaykalskom_kr" value="S-1-5-21-685724207-866877060-2473498247-55470"/>
    </util:map>

    <bean id="jaxb2Marshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
        <property name="classesToBeBound">
            <list>
                <value>com.sitronics.filenet.classes.model.ExportedObjects</value>
            </list>
        </property>
        <property name="marshallerProperties">
            <map>
                <!--Сделаем форматированный вывод...-->
                <entry key="jaxb.formatted.output">
                    <value type="boolean">true</value>
                </entry>
            </map>
        </property>
    </bean>

    <bean id="localizedString" class="com.sitronics.filenet.classes.model.LocalizedString">
        <property name="localeName" value="${localizedString.localeName}"/>
        <property name="objectType" value="${localizedString.objectType}"/>
    </bean>


    <bean id="replicableClassDefinitionProperties"
          class="com.sitronics.filenet.classes.model.property.ReplicableClassDefinitionProperties">
        <property name="objectType" value="${objectType}"/>
        <property name="creator" value="${creator}"/>
        <property name="lastModifier" value="${lastModifier}"/>
        <property name="propertyDefinitions">
            <bean class="com.sitronics.filenet.classes.model.property.PropertyDefinitions">
                <property name="propertyDefinitions">
                    <util:list list-class="java.util.ArrayList" value-type="java.lang.String">
                        <bean class="com.sitronics.filenet.classes.model.property.PropertyDefinitionObject">
                            <property name="objectType" value="${propertyDefinitionBase.objectType}"/>
                            <property name="name" value="${propertyDefinitionObject.replicationGroup.name}"/>
                            <property name="requiredClassId"
                                      value="${propertyDefinitionObject.replicationGroup.requiredClassId}"/>
                            <property name="reflectivePropertyId" value=""/>
                            <property name="deletionAction" value=""/>
                            <property name="propertyDefaultObject" value=""/>
                            <property name="primaryId" value="${propertyDefinitionObject.replicationGroup.primaryId}"/>
                        </bean>
                        <bean class="com.sitronics.filenet.classes.model.property.PropertyDefinitionObject">
                            <property name="objectType" value="${propertyDefinitionBase.objectType}"/>
                            <property name="name" value="${propertyDefinitionObject.auditedEvents.name}"/>
                            <property name="requiredClassId"
                                      value="${propertyDefinitionObject.auditedEvents.requiredClassId}"/>
                            <property name="reflectivePropertyId" value=""/>
                            <property name="deletionAction" value=""/>
                            <property name="propertyDefaultObject" value=""/>
                            <property name="primaryId" value="${propertyDefinitionObject.auditedEvents.primaryId}"/>
                        </bean>
                        <bean class="com.sitronics.filenet.classes.model.property.PropertyDefinitionObject">
                            <property name="objectType" value="${propertyDefinitionBase.objectType}"/>
                            <property name="name" value="${propertyDefinitionObject.containers.name}"/>
                            <property name="requiredClassId"
                                      value="${propertyDefinitionObject.containers.requiredClassId}"/>
                            <property name="reflectivePropertyId"
                                      value="${propertyDefinitionObject.containers.reflectivePropertyId}"/>
                            <property name="deletionAction"
                                      value="${propertyDefinitionObject.containers.deletionAction}"/>
                            <property name="propertyDefaultObject" value=""/>
                            <property name="primaryId" value="${propertyDefinitionObject.containers.primaryId}"/>
                        </bean>
                        <bean class="com.sitronics.filenet.classes.model.property.PropertyDefinitionObject">
                            <property name="objectType" value="${propertyDefinitionBase.objectType}"/>
                            <property name="name" value="${propertyDefinitionObject.annotations.name}"/>
                            <property name="requiredClassId"
                                      value="${propertyDefinitionObject.annotations.requiredClassId}"/>
                            <property name="reflectivePropertyId"
                                      value="${propertyDefinitionObject.annotations.reflectivePropertyId}"/>
                            <property name="deletionAction"
                                      value="${propertyDefinitionObject.annotations.deletionAction}"/>
                            <property name="propertyDefaultObject" value=""/>
                            <property name="primaryId" value="${propertyDefinitionObject.annotations.primaryId}"/>
                        </bean>
                        <bean class="com.sitronics.filenet.classes.model.property.PropertyDefinitionObject">
                            <property name="objectType" value="${propertyDefinitionBase.objectType}"/>
                            <property name="name" value="${propertyDefinitionObject.securityPolicy.name}"/>
                            <property name="requiredClassId"
                                      value="${propertyDefinitionObject.securityPolicy.requiredClassId}"/>
                            <property name="reflectivePropertyId" value=""/>
                            <property name="deletionAction" value=""/>
                            <property name="propertyDefaultObject" value=""/>
                            <property name="primaryId" value="${propertyDefinitionObject.securityPolicy.primaryId}"/>
                        </bean>
                        <bean class="com.sitronics.filenet.classes.model.property.PropertyDefinitionObject">
                            <property name="objectType" value="${propertyDefinitionBase.objectType}"/>
                            <property name="name" value="${propertyDefinitionObject.parent.name}"/>
                            <property name="requiredClassId"
                                      value="${propertyDefinitionObject.parent.requiredClassId}"/>
                            <property name="reflectivePropertyId"
                                      value="${propertyDefinitionObject.parent.reflectivePropertyId}"/>
                            <property name="deletionAction" value=""/>
                            <property name="propertyDefaultObject" value=""/>
                            <property name="primaryId" value="${propertyDefinitionObject.parent.primaryId}"/>
                        </bean>
                        <bean class="com.sitronics.filenet.classes.model.property.PropertyDefinitionObject">
                            <property name="objectType" value="${propertyDefinitionBase.objectType}"/>
                            <property name="name" value="${propertyDefinitionObject.containees.name}"/>
                            <property name="requiredClassId"
                                      value="${propertyDefinitionObject.containees.requiredClassId}"/>
                            <property name="reflectivePropertyId"
                                      value="${propertyDefinitionObject.containees.reflectivePropertyId}"/>
                            <property name="deletionAction" value=""/>
                            <property name="propertyDefaultObject" value=""/>
                            <property name="primaryId" value="${propertyDefinitionObject.containees.primaryId}"/>
                        </bean>
                        <bean class="com.sitronics.filenet.classes.model.property.PropertyDefinitionObject">
                            <property name="objectType" value="${propertyDefinitionBase.objectType}"/>
                            <property name="name" value="${propertyDefinitionObject.subfolders.name}"/>
                            <property name="requiredClassId"
                                      value="${propertyDefinitionObject.subfolders.requiredClassId}"/>
                            <property name="reflectivePropertyId"
                                      value="${propertyDefinitionObject.subfolders.reflectivePropertyId}"/>
                            <property name="deletionAction"
                                      value="${propertyDefinitionObject.subfolders.deletionAction}"/>
                            <property name="propertyDefaultObject" value=""/>
                            <property name="primaryId" value="${propertyDefinitionObject.subfolders.primaryId}"/>
                        </bean>
                        <bean class="com.sitronics.filenet.classes.model.property.PropertyDefinitionBoolean">
                            <property name="objectType" value="${propertyDefinitionBase.objectType}"/>
                            <property name="name" value="${propertyDefinitionBoolean.inheritParentPermissions.name}"/>
                            <property name="primaryId"
                                      value="${propertyDefinitionBoolean.inheritParentPermissions.primaryId}"/>
                            <property name="propertyDefaultBoolean"
                                      value="${propertyDefinitionBoolean.inheritParentPermissions.propertyDefaultBoolean}"/>
                            <property name="nameProperty" value=""/>
                            <property name="settability" value=""/>
                            <property name="externalAliases" value=""/>
                            <property name="modificationAccessRequired" value=""/>
                            <property name="valueRequired" value=""/>
                            <property name="copyToReservation" value=""/>
                            <property name="choiceList" value=""/>
                            <property name="aliasIds" value=""/>
                            <property name="hidden" value=""/>
                        </bean>
                        <bean class="com.sitronics.filenet.classes.model.property.PropertyDefinitionObject">
                            <property name="objectType" value="${propertyDefinitionBase.objectType}"/>
                            <property name="name" value="${propertyDefinitionObject.containedDocuments.name}"/>
                            <property name="requiredClassId"
                                      value="${propertyDefinitionObject.containedDocuments.requiredClassId}"/>
                            <property name="reflectivePropertyId" value=""/>
                            <property name="deletionAction" value=""/>
                            <property name="propertyDefaultObject" value=""/>
                            <property name="primaryId"
                                      value="${propertyDefinitionObject.containedDocuments.primaryId}"/>
                        </bean>
                        <bean class="com.sitronics.filenet.classes.model.property.PropertyDefinitionObject">
                            <property name="objectType" value="${propertyDefinitionBase.objectType}"/>
                            <property name="name" value="${propertyDefinitionObject.workflowSubscriptions.name}"/>
                            <property name="requiredClassId"
                                      value="${propertyDefinitionObject.workflowSubscriptions.requiredClassId}"/>
                            <property name="reflectivePropertyId"
                                      value="${propertyDefinitionObject.workflowSubscriptions.reflectivePropertyId}"/>
                            <property name="deletionAction"
                                      value="${propertyDefinitionObject.workflowSubscriptions.deletionAction}"/>
                            <property name="propertyDefaultObject" value=""/>
                            <property name="primaryId"
                                      value="${propertyDefinitionObject.workflowSubscriptions.primaryId}"/>
                        </bean>
                        <bean class="com.sitronics.filenet.classes.model.property.PropertyDefinitionBoolean">
                            <property name="objectType" value="${propertyDefinitionBase.objectType}"/>
                            <property name="name" value="${propertyDefinitionBoolean.isHiddenContainer.name}"/>
                            <property name="nameProperty"
                                      value="${propertyDefinitionBoolean.isHiddenContainer.isNameProperty}"/>
                            <property name="settability"
                                      value="${propertyDefinitionBoolean.isHiddenContainer.propertyDefaultBoolean}"/>
                            <property name="valueRequired"
                                      value="${propertyDefinitionBoolean.isHiddenContainer.isValueRequired}"/>
                            <property name="copyToReservation"
                                      value="${propertyDefinitionBoolean.isHiddenContainer.copyToReservation}"/>
                            <property name="primaryId"
                                      value="${propertyDefinitionBoolean.isHiddenContainer.primaryId}"/>
                            <property name="propertyDefaultBoolean"
                                      value="${propertyDefinitionBoolean.isHiddenContainer.propertyDefaultBoolean}"/>
                            <property name="hidden"
                                      value="${propertyDefinitionBoolean.isHiddenContainer.isHidden}"/>
                            <property name="externalAliases" value=""/>
                            <property name="modificationAccessRequired" value=""/>
                            <property name="choiceList" value=""/>
                            <property name="aliasIds" value=""/>
                        </bean>
                        <bean class="com.sitronics.filenet.classes.model.property.PropertyDefinitionString">
                            <property name="objectType" value="${propertyDefinitionBase.objectType}"/>
                            <property name="name" value="${propertyDefinitionString.containerType.name}"/>
                            <property name="nameProperty"
                                      value="${propertyDefinitionString.containerType.isNameProperty}"/>
                            <property name="maximumLengthString"
                                      value="${propertyDefinitionString.containerType.maximumLengthString}"/>
                            <property name="settability"
                                      value="${propertyDefinitionString.containerType.settability}"/>
                            <property name="valueRequired"
                                      value="${propertyDefinitionString.containerType.isValueRequired}"/>
                            <property name="primaryId"
                                      value="${propertyDefinitionString.containerType.primaryId}"/>
                            <property name="copyToReservation"
                                      value="${propertyDefinitionString.containerType.copyToReservation}"/>
                            <property name="hidden"
                                      value="${propertyDefinitionString.containerType.isHidden}"/>
                            <property name="propertyDefaultString" value=""/>
                            <property name="externalAliases" value=""/>
                            <property name="CBREnabled" value=""/>
                            <property name="modificationAccessRequired" value=""/>
                            <property name="choiceList" value=""/>
                            <property name="aliasIds" value=""/>
                        </bean>
                    </util:list>
                </property>
            </bean>
        </property>
        <property name="replicationGroup" value=""/>
        <property name="CBREnabled" value="${isCBREnabled}"/>
        <property name="auditDefinitions" value=""/>
        <property name="aliasIds" value=""/>
        <property name="dateCreated" value="${date}"/>
        <property name="externalAliases" value=""/>
        <property name="externalReplicaIdentities" value=""/>
        <property name="hidden" value="${isHidden}"/>
        <property name="superclassDefinition">
            <bean class="com.sitronics.filenet.classes.model.SuperclassDefinition">
                <property name="objectRef">
                    <bean class="com.sitronics.filenet.classes.model.ObjectRef">
                        <property name="classId" value="${objectRef.classId}"/>
                        <property name="objectId" value="${objectRef.objectId}"/>
                    </bean>
                </property>
            </bean>
        </property>
        <property name="dateLastModified" value="${date}"/>
        <property name="allowsInstances" value="${allowsInstances}"/>
    </bean>

    <bean id="replicableClassDefinitionSecurity"
          class="com.sitronics.filenet.classes.model.security.ReplicableClassDefinitionSecurity">
        <property name="owner">
            <bean class="com.sitronics.filenet.classes.model.security.Grantee">
                <property name="sID" value="${owner.sid}"/>
                <property name="name" value="${owner.name}"/>
                <property name="shortName" value="${owner.shortName}"/>
                <property name="displayName" value="${owner.displayName}"/>
                <property name="principalType" value="${owner.principalType}"/>
            </bean>
        </property>
        <property name="defaultInstanceOwner">
            <bean class="com.sitronics.filenet.classes.model.security.Grantee">
                <property name="sID" value="${defaultOwner.sid}"/>
                <property name="name" value="${defaultOwner.name}"/>
            </bean>
        </property>
    </bean>

</beans>